*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f6f7fb;
    font-family: Arial, Helvetica, sans-serif;
}
/* Header Navbar Styles */

header{
    width: 100%;
    background-color: white;
    position : fixed;
    top: 0;
    display : flex;
    justify-content : space-between;
    align-items: center;
}
 header > span{
     display: inline-block;
     margin: 10px;
 }

 .recording{
     display: flex;
     align-items: center;
     padding: 10px;
 }
 .recording * {
     margin-right: 10px;
 }

 /* Main Content Window */
 .mainContent{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 100px;
 }
.mainContent > div{
    margin: 0 5px;
}
 /* Left Bar */
 .leftBar{
     width: 350px;
     height: 650px!important;
     display: flex;
     flex-flow: column;
 }
 .leftBar > div {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
 }
.cameraImage{
    width: 100%;
}

.presenters{
    height: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 20px!important;
    padding-right: 30px!important;
}

.attendees{
    height: 276px;
    padding-left: 20px!important;
    padding-right: 30px!important;
}
.heading{
    font-weight: bold;
}
.presenters > .heading{
    margin-top: 10px;
}

.list{
    overflow-y: scroll;
    color: #9d9d9d;
}
.leftBar>div>p, ul>li {
    padding: 5px;
}

 /* Custom Scroll Bar */
 .list::-webkit-scrollbar{
    width: 3px;
}
.list::-webkit-scrollbar-track{
    background-color: none;

}
.list::-webkit-scrollbar-thumb{
    background-color: #cfcfcf;
    height: 10px;
}


 /* Shared Screen */
 .sharedScreen{
     width: 700px;
     height: 650px;
     display: flex;
     box-sizing: border-box;
     flex-direction: column;
     background-color: white;
     background-image: url(screen-share-icon.png);
     background-repeat: no-repeat;
     background-position: top;
     background-size: 600px;
     border-radius: 8px;
     padding: 10px;
 }
 .sharedScreen span{
     margin-left: 30px;
     position: absolute;
     bottom: 20px;
 }
/* Right Bar */
.rightBar{
    width: 350px;
}