*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f6f7fb;
    font-family: "poppins", Geneva, Tahoma, sans-serif;
}
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-track{
    background-color: none;

}
::-webkit-scrollbar-thumb{
    background-color: #cfcfcf;
    height: 10px;
}
/* Header Navbar Styles */

header{
    width: 100%;
    background-color: white;
    position : fixed;
    top: 0;
    display : flex;
    justify-content : space-between;
    align-items: center;
    box-shadow: 5px 0px 10px lightgray;
    font-size: 15px;
    z-index: 69;
}
 header > span{
     display: inline-block;
     margin: 10px 40px;
 }

 .recording{
     display: flex;
     align-items: center;
     padding: 10px;
 }
 .recording * {
     margin-right: 10px;
 }
 .recording>img{
     height: 22px;
 }

 /* Main Content Window */
 .mainContent{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 100px;
 }
.mainContent > div{
    margin: 0 5px;
}
 /* Left Bar */
 .leftBar{
     width: 330px;
     height: 640px!important;
     display: flex;
     flex-flow: column;
    
 }
 .leftBar > div {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
 }
.cameraImage{
    width: 100%;
}

.presenters{
    height: 100px;
    margin-top: 28px;
    margin-bottom: 14px;
    padding-left: 20px!important;
    padding-right: 30px!important;
}

.attendees{
    height: 286px;
    padding-left: 20px!important;
    padding-right: 30px!important;
    box-sizing: border-box;
}
.attendees ul{
    margin-bottom: 10px;
}

.heading{
    font-weight: bold;
}
.presenters > .heading{
    margin-top: 10px;
}

.list{
    overflow-y: scroll;
    color: #9d9d9d;
}
.leftBar>div>p, ul>li {
    padding: 4px;
}

 /* Custom Scroll Bar */
 .list::-webkit-scrollbar{
    width: 3px;
}
.list::-webkit-scrollbar-track{
    background-color: none;

}
.list::-webkit-scrollbar-thumb{
    background-color: #cfcfcf;
    height: 10px;
}


 /* Shared Screen */
 .sharedScreen{
     width: 750px;
     height: 640px;
     display: flex;
     box-sizing: border-box;
     flex-direction: column;
     background-color: white;
     background-image: url(screen-share-icon.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: 540px;
     border-radius: 8px;
     padding: 10px;
 }
 .sharedScreen span{
     margin-left: 10px;
     position: absolute;
     bottom: 30px;
     font-size: larger;
 }
/* Right Bar */
.rightBar{
    width: 350px;
    height: 700px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.rightBar::-webkit-scrollbar-thumb{
    visibility: hidden;
}

.AttendeeCard{
    box-sizing: border-box;
    height: 200px;
    width: 340px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
.AttendeeCard > div{
    box-sizing: border-box;
    position: relative;
    height: 180px;
    width: 320px;
    background-color: #c6c6c6;
    border-radius: 8px;
    top: 10px;
    left: 10px;
}
.circleOut{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    margin: auto;
    position: relative;
    top: 30px;
}
.circleIn{
    height: 90px;
    width: 90px;
    border-radius: 50px;
    background-color: white;
    box-shadow:0px 0px 10px 2px #aaffd6 inset;
    margin: auto;
    position: relative;
    top: 5px;
}

@keyframes speaker{
    from {
        box-shadow: 0px 0px 10px 2px #aaffd6 inset;
        font-weight: normal;
    }
    to {
        box-shadow: 0px 0px 10px 10px #aaffd6 inset;
        font-weight: bold;
    }
  }
  
.SpeakerCircle{
    animation-name: speaker;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.AC{
    display: inline-block;
    position: relative;
    font-size: xx-large;
    top: 20px;
}

.mic{
    height: 15px;
    position: relative;
    bottom: -53px;
    left: 10px;
}

.SpeakerCard > div{
    background-color: #aaffd6 !important;
}